body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
}

header {
    background: #ff0000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

img {
    cursor: pointer; /* Deixa claro que é clicável */
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.1); /* Pequeno efeito ao passar o mouse */
}
